/* UTILITY */

.bg_grayblue{
    background-color: #2C3E50;
}

.bg_avatar{
    background-color: #1ABC9C;
}

.bg_footer{
    background-color: #3A546D;
}

.bg_copyright{
    background-color: #2C3E50;
}

.txt_green{
    color: #1ABC9C;
}

.dbg{
    
    border: 1px solid black;
    background-color: cornflowerblue;
}

.dgb_img{
    background-color: cornflowerblue;
    border: 1px solid black;
}

.fw_bold{
    font-weight: 500;
}

.fs-1{
    font-size: 1rem;
}

.fs-2{
    font-size: 1.22rem;
}

.fs-3{
    font-size: 3rem;
}

.fs-4{
    font-size: 4rem;
}

.fs-5{
    font-size: 5rem;
}

.border_green{
    border-bottom: 1px solid #1ABC9C;;
}

.place_black::-webkit-input-placeholder {
    color: black;
  }
/* /UTILITY */


.container > img{
    width: 280px;
    border-radius: 10px;
}

/* NavBar */
.nav-link{
    font-size: 0.8rem;
}

/* /NavBar */

/* Jumbotron */
.jumbo_image{
    width: 15rem;
}

h1{
    font-size: 3rem;
}

.star{
    font-size: 1.5rem;
    position: absolute;
    bottom: -15px;
    left: 38%;
    padding: 0 1.5rem;
}

.liena{
    width: 20rem;
    position: relative;
    margin: 1rem 0;
}

.linea_white{
    border-bottom: 3px solid white;
}

.linea_white > .star{
    background-color: #1ABC9C; 
}

.linea_black{
    border-bottom: 3px solid black;
}

/* /Jumbotron */

/* Footer */
.social > div{
    display: inline-block;
    text-align: center;
    border: 1px solid white;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    color: white;
    font-size: 1.3rem;
}

.social > div a{
    color: white;
}
/* /Footer */
